* {
    background-color: rgb(29, 29, 29);
}

.control-container {
    background-color: cadetblue;
    padding: 40px 40px;
    border-radius: 25px;
    text-align: center;
}
.control-container {
    font-size: 60px;
    color: aliceblue;
    font-weight: bold;
    font-family: monospace;
}

.button {
    display: block;
    padding: 5px 50px;
    margin: 10px auto;
    font-size: 60px;
    font-weight: bold;
    color: aliceblue;
    background-color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;

}
.button:hover{
    background-color: #2B3032;
}